modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["glib", "nss", "nspr", "atk", "at-spi2-atk", "cups", "dbus", "libdrm", "xorg.libxcb", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "mesa", "pango", "cairo", "alsa-lib", "libxkbcommon", "xorg.libX11", "xorg.libxshmfence", "expat", "xorg.libXrender", "chromium"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34489
externalPort = 3002

[[ports]]
localPort = 35543
externalPort = 3003

[[ports]]
localPort = 35981
externalPort = 5000

[[ports]]
localPort = 39501
externalPort = 3001

[[ports]]
localPort = 40577
externalPort = 4200

[[ports]]
localPort = 40715
externalPort = 3000

[[ports]]
localPort = 44593
externalPort = 6800

[[ports]]
localPort = 46101
externalPort = 5173

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_openai_ai_integrations:1.0.0", "resend:1.0.0"]
